<template>
    <div class="alert alert-danger">
        <button class="close" @click="close">&times;</button>
        <strong>Oops!</strong> {{ message }}
    </div>
</template>

<script>
    export default {
        props: {
            message: {
                type: String,
                default: '',
            }
        },

        mounted() {
            console.log('Error Message component mounted?.')
        },

        methods: {
            close() {
                this.$emit('close-alert');
            }
        },
    }
</script>
