<template>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label sr-only">{{ formattedName }}</label>
            <select v-if="hasLabels" name="label" class="form-control" v-model="field.label">
                <option v-for="label in labels">{{ label }}</option>
            </select>
            <input type="text" v-if="!hasLabels" name="label" placeholder="Label" class="form-control" v-model="field.label">
        </div>
        <div class="form-group col-md-8">
            <div class="input-group"
                 v-on:mouseover="showDelete = true"
                 v-on:mouseleave="showDelete = false">
                <input type="text" class="form-control" :placeholder="hasLabels ? formattedName : 'Value'"
                       v-model="field.value">
                <span class="input-group-btn" v-if="showDelete">
                    <button class="btn btn-secondary" type="button" @click="removeField">
                        &times;
                    </button>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            'name', 'field', 'labels'
        ],

        data() {
            return {
                showDelete: false,
            }
        },

        mounted() {
            console.log(this.formattedName + ' field component mounted.')
        },

        computed: {
            hasLabels() {
                return this.labels.length > 0;
            },

            formattedName() {
                return this.name.charAt(0).toUpperCase() + this.name.slice(1);
            }
        },

        methods: {
            removeField() {
                console.log('Removing field...');
                this.$emit('remove-field');
            }
        },
    }
</script>
