<template>
    <div class="card">
        <div class="card-header">
            {{ formattedName }}
            <label class="close" @click="addEntry">&plus;</label>
        </div>
        <div class="card-block">
            <field v-for="(field, index) in list"
                   v-on:remove-field="list.splice(index, 1)"
                   :name="name"
                   :labels="labels"
                   :field="field"
            ></field>
        </div>
    </div>
</template>

<script>
    import Field from './Field'

    export default {

        props: ['name', 'list', 'labels'],

        components: {
            Field
        },

        computed: {
            formattedName() {
                return this.name.charAt(0).toUpperCase() + this.name.slice(1) + 's';
            }
        },

        mounted() {
            console.log(this.formattedName + ' fieldlist component mounted.')
        },

        methods: {
            addEntry() {
                console.log('Adding entry...');
                this.list.push({label: '', value: ''});
            },
        }
    }
</script>