<template>
    <form @submit.prevent="filter">

        <div class="row">
            <div class="col-8">
                <div class="row" v-for="(condition, index) in conditions">
                    <div class="form-group col-6">
                        <select class="form-control" v-model="condition.field">
                            <option v-for="field in filterableFields" :value="field.name">{{ field.label }}</option>
                        </select>
                    </div>

                    <div class="form-group col-6">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="condition.value">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary"
                                        v-on:click="conditions.splice(index, 1)">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-right">
                <button type="button" class="btn btn-link" v-on:click="add">
                    <i class="fa fa-plus-circle"></i>
                </button>

                <button type="submit" class="btn btn-outline-primary" v-on:click="filter">
                    <i class="fa fa-filter"></i> Filter
                </button>

                <button type="button" class="btn btn-secondary" v-on:click="clear">
                    <i class="fa fa-ban"></i> Clear
                </button>
            </div>
        </div>


    </form>
</template>

<script>
    export default {
        props: ['conditions', 'filterable-fields'],

        mounted() {
            console.log('Filters components mounted.')
        },

        methods: {
            add() {
                this.$emit('add');
            },

            clear(){
                this.$emit('clear');
            },

            filter() {
                this.$emit('filter');
            },
        }
    }
</script>
