<template>
    <div>

        <filters :conditions="conditions"
                 :filterable-fields="filterableFields"
                 v-on:add="addCondition"
                 v-on:filter="filter"
                 v-on:clear="clear">
        </filters>

        <br>

        <h1>
            <slot name="header"></slot>
        </h1>

        <br>

        <slot></slot>

        <p class="text-center" v-if="isLoading">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
        </p>

        <p class="text-center" v-if="!isLoading && noItems">
            No items.
        </p>

        <hr>

        <pagination-links
                :status="paginationStatus"
                :prev-disabled="isFirstPage || isLoading"
                :next-disabled="isLastPage || isLoading"
                v-on:next-page="nextPage"
                v-on:prev-page="prevPage">
        </pagination-links>
    </div>
</template>

<script>
    import Filters from './Filters'
    import PaginationLinks from './PaginationLinks'

    export default {

        components: {Filters, PaginationLinks},

        props: ['filterable-fields', 'base-url'],

        data() {
            return {
                isLoading: false,
                conditions: [],
                items: [],
                pagination: {},
                page: 1,
            }
        },

        watch: {
            isLoading(val) {
                console.log('Emitting is loading...', val);
                this.$emit('update-loading', val);
            },

            items(val) {
                console.log('Updating items...');
                this.$emit('update-items', val);
            },
        },

        methods: {
            addCondition() {
                this.conditions.push({
                    field: '',
                    value: '',
                })
            },

            filter() {
                this.load(this.assembledUrl);
            },

            clear() {
                this.conditions = [];
                this.page = 1;
                this.load(this.assembledUrl);
            },

            load(url) {
                this.isLoading = true;
                axios.get(url)
                    .then(this.onSuccess)
                    .catch(this.onError);
            },

            onSuccess(response) {
                // console.log(response.data);
                this.pagination = response.data;
                this.items = response.data.data;
                if (this.noItems) this.page = 1;
                this.isLoading = false;
            },

            onError(error) {
                console.log(error);
                this.isLoading = false;
            },

            prevPage() {
                if (this.isFirstPage || this.isLoading) return;
                this.page--;
                this.load(this.assembledUrl);
            },

            nextPage() {
                if (this.isLastPage || this.isLoading) return;
                this.page++;
                this.load(this.assembledUrl);
            },

        },

        mounted() {
            console.log('Index component mounted.');
            this.load(this.baseUrl);
        },

        computed: {
            conditionString() {
                return this.conditions.reduce((prev, curr) => {
                    return prev.concat('&' + curr.field + '=' + curr.value)
                }, '');
            },

            assembledUrl() {
                return this.baseUrl + '?page=' + this.page + this.conditionString;
            },

            noItems() {
                return this.items.length == 0;
            },

            isLastPage() {
                if (this.noItems) return true;
                return this.page == this.pagination.last_page;
            },

            isFirstPage() {
                return this.page == 1;
            },

            paginationStatus() {
                if (this.isLoading) return '';
                return 'Displaying items ' + (this.pagination.from || 0) + ' to ' + (this.pagination.to || 0) + ' of ' + this.pagination.total;
            },
        },
    }
</script>
