<template>
    <table class="table">
        <thead>
        <tr>
            <th v-for="header in fields.map(field => field.header)">{{ header }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in items">
            <td v-for="key in fields.map(field => field.key)">{{ item[key] }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {

        props: ['items', 'fields'],

//        props: {
//            message: {
//                type: String,
//                default: '',
//            }
//        },

        mounted() {
            console.log('Error Message component mounted.')
        },

        methods: {
            close() {
                this.$emit('close-alert');
            }
        },
    }
</script>
