<template>
    <button class="btn btn-primary" type="submit" :disabled="isBusy">
        <div v-if="isSaving">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Saving...
        </div>
        <div v-if="!isSaving">
            <i class="fa fa-save"></i> Save
        </div>
    </button>
</template>

<script>
    export default {
        props: ['is-busy', 'is-saving'],

        mounted() {
            console.log('Save button mounted.')
        },
    }
</script>
