<template>
    <small class="float-right text-muted">Last updated by: {{ name }} on {{ timestamp }}</small>
</template>

<script>
    import moment from 'moment-timezone';

    export default {
        props: ['name', 'time'],

        mounted() {
            console.log('Timestamp component mounted.')
        },

        computed: {
            timestamp() {
                let utc = moment.tz(this.time, "UTC");
                return utc.clone().tz('Asia/Manila').format("LLL");
            }
        },
    }
</script>
