[v-cloak] {
  display: none;
}

// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Font Awesome
$fa-font-path: "/fonts/font-awesome";
@import "node_modules/font-awesome/scss/font-awesome";

// Select2
@import "node_modules/select2/src/scss/core";

// Select2-Bootstrap-theme
@import "select2-bootstrap4-vars";
@import "node_modules/select2-bootstrap-theme/src/select2-bootstrap";
@import "select2-bootstrap4-after";

// Table Cell Grid
table.grid td input, td button {
  display: block !important;
  //width: 100% !important;
  box-sizing:border-box !important;
  //line-height: 1 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  font-size: 12px;
}

// To have the same size as datetime-local
table.grid td input[type="text"], td input[type="number"], td button {
  line-height: 1.5 !important;
}

table.grid {
  font-size: 13px;
}

table.grid td {
  margin: 0 !important;
  padding: 0 !important;
}

.table tbody > tr > td.vert-align {
  vertical-align: middle;
}

.table thead > tr > th.vert-align {
  vertical-align: middle;
}

table.small td{
  font-size: 12px;
}

table.small {
  font-size: 13px;
}

.small {
  font-size: 12px;
}



// Sticky Footer
//@import "sticky_footer.css";
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.navbar {
  margin-bottom: 2em;
}